html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.login-page__photo[type=file]::file-selector-button {
  margin-right: 20px;
  border: 1px solid #fff;
  background: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
.login-page__photo[type=file]{
  color: white;
}

.login-page__photo[type=file]::file-selector-button:hover {
  background: #fff;
  color: black;
}