.cards {
  background: #e5e5e5;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 30px !important;
  }
  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    font-family: "Rubik";
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  &__desc--author {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
  }
  &__desc--year {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
  }
  &__item {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
  }
  &__btn--info {
    padding: 10px 28px;
    border: none;
    background: rgba(13, 117, 255, 0.05);
    border-radius: 4px;
  }
}
